<main>
  <div class="login-form">
    <form action="/api/auth/login" method="POST">
      <h2>Sign in</h2>
      <input class="login-form__input" type="email" name="email" placeholder="Email" autocomplete="off"><br>
      <input class="login-form__input" type="password" name="password" placeholder="Password" autocomplete="off"><br>
      <button type="button" id="register-btn">Registration</button>
      <button type="submit">Sign in</button>
    </form>
  </div>
</main>


{{#section 'scripts'}}
<script>
  const registerBtn = document.getElementById('register-btn');


  registerBtn.addEventListener('click', (e) => {
    location.pathname = '/api/auth/register';
  })
</script>
{{/section}}