<main>
  <div class="login-form">
    <form action="/api/auth/register" method="POST">
      <h2>Registration</h2>
      <input class="login-form__input" type="email" name="email" placeholder="Email" autocomplete="off"><br>
      <input class="login-form__input" type="password" name="password" placeholder="Password" autocomplete="off"><br>
      <select name="role">
        <option value="driver">Driver</option>
        <option value="shipper">Shipper</option>
      </select>
      <button type="button" id="register-btn">Sign in</button>
      <button type="submit">Register</button>
    </form>
  </div>
</main>

{{#section 'scripts'}}
<script>
  const registerBtn = document.getElementById('register-btn');


  registerBtn.addEventListener('click', (e) => {
    location.pathname = '/api/auth/login';
  })
</script>
{{/section}}