* {
  box-sizing: border-box;
}

main {
  width: 1200px;
  margin: 0 auto;
}

.login-form {
  width: 400px;
  height: 300px;
  margin: 0 auto;
  margin-top: 50px;

  border: 3px solid black;
  border-radius: 3%;

  text-align: center;
}

.login-form__input {
  width: 250px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-left: 15px;
}

.login-form__input::placeholder {
  text-transform: uppercase;
}

